<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>Advertisment</description>
        <param-name>Advertisment</param-name>
        <param-value>applications/MacaronBaWebSite/MacaronBaData/Advertisments</param-value>
    </context-param>
    <context-param>
        <description>SlideShows</description>
        <param-name>SlideShows</param-name>
        <param-value>applications/MacaronBaWebSite/MacaronBaData/SlideShows</param-value>
    </context-param> 
    <context-param>
        <description>ProductPictures</description>
        <param-name>productPicture</param-name>
        <param-value>applications/MacaronBaWebSite/MacaronBaData/Products</param-value>
    </context-param>
    <context-param>
        <description>Videos</description>
        <param-name>Videos</param-name>
        <param-value>applications/MacaronBaWebSite/MacaronBaData/Videos</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>Servlets.Authenticators.User.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterCheck</servlet-name>
        <servlet-class>Servlets.Authenticators.User.RegisterCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>Servlets.Authenticators.User.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendAuthCode</servlet-name>
        <servlet-class>Servlets.Authenticators.User.SendAuthCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlets.Authenticators.User.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginCheck</servlet-name>
        <servlet-class>Servlets.Authenticators.Admin.AdminLoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>Servlets.Authenticators.Admin.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>Servlets.Products.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Products</servlet-name>
        <jsp-file>/AdminPanel/Products/ShowProduct.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ShowOrder</servlet-name>
        <jsp-file>/AdminPanel/Orders/ShowOrder.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>Servlets.Products.EditProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPicture</servlet-name>
        <servlet-class>Servlets.Products.AddPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePicture</servlet-name>
        <servlet-class>Servlets.Products.DeletePicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditScale</servlet-name>
        <servlet-class>Servlets.Products.EditScale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddScale</servlet-name>
        <servlet-class>Servlets.Products.AddScale</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveScaleValue</servlet-name>
        <servlet-class>Servlets.Products.RemoveScaleValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProperty</servlet-name>
        <servlet-class>Servlets.Products.AddProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Servlets.Products.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProperty</servlet-name>
        <servlet-class>Servlets.Products.DeleteProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProperty</servlet-name>
        <servlet-class>Servlets.Products.EditProperty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPropertyValue</servlet-name>
        <servlet-class>Servlets.Products.AddPropertyValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePropertyValue</servlet-name>
        <servlet-class>Servlets.Products.DeletePropertyValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPackage</servlet-name>
        <servlet-class>Servlets.Products.AddPackage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteScalePackage</servlet-name>
        <servlet-class>Servlets.Products.DeleteScalePackage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditScaleValue</servlet-name>
        <servlet-class>Servlets.Products.EditScaleValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUser</servlet-name>
        <jsp-file>/AdminPanel/Users/ShowUser.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditShip</servlet-name>
        <servlet-class>Servlets.Order.EditShip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPayment</servlet-name>
        <servlet-class>Servlets.Order.EditPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrder</servlet-name>
        <servlet-class>Servlets.Order.EditOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShipType</servlet-name>
        <servlet-class>Servlets.Ship.DeleteShipType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShipType</servlet-name>
        <servlet-class>Servlets.Ship.AddShipType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentType</servlet-name>
        <servlet-class>Servlets.Invoice.UpdatePaymentType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowShip</servlet-name>
        <jsp-file>/AdminPanel/Ship/ShowShip.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddWindow</servlet-name>
        <servlet-class>Servlets.Products.AddWindow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowWindow</servlet-name>
        <jsp-file>/AdminPanel/Products/ShowWindow.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DeleteWindow</servlet-name>
        <servlet-class>Servlets.Products.DeleteWindow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditWindow</servlet-name>
        <servlet-class>Servlets.Products.EditWindow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProduct</servlet-name>
        <servlet-class>Servlets.API.Products.GetProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReceipt</servlet-name>
        <servlet-class>Servlets.API.Orders.GetReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlets.API.Authenticators.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdmin</servlet-name>
        <servlet-class>Servlets.Admins.AddAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAdmin</servlet-name>
        <jsp-file>/AdminPanel/Admins/ShowAdmin.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>GetWindows</servlet-name>
        <servlet-class>Servlets.API.Products.GetWindows</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProducts</servlet-name>
        <servlet-class>Servlets.API.Products.GetProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCategories</servlet-name>
        <servlet-class>Servlets.API.Products.GetCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategory</servlet-name>
        <servlet-class>Servlets.Products.AddCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>Servlets.Products.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMacaron</servlet-name>
        <servlet-class>Servlets.API.Products.GetMacaron</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVideo</servlet-name>
        <servlet-class>Servlets.SiteSetting.Video.AddVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSmsConfig</servlet-name>
        <servlet-class>Servlets.Sms.SetSmsConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMainVideo</servlet-name>
        <servlet-class>Servlets.SiteSetting.Video.SetMainVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSection</servlet-name>
        <jsp-file>/AdminPanel/SiteSetting/ShowSection.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ShowVideo</servlet-name>
        <jsp-file>/AdminPanel/SiteSetting/ShowVideo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditVideo</servlet-name>
        <servlet-class>Servlets.SiteSetting.Video.EditVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSection</servlet-name>
        <servlet-class>Servlets.SiteSetting.Video.AddSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSeciton</servlet-name>
        <servlet-class>Servlets.SiteSetting.Video.EditSection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVideo</servlet-name>
        <servlet-class>Servlets.SiteSetting.Video.DeleteVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInPerson</servlet-name>
        <servlet-class>Servlets.Order.AddInPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddInPersonItem</servlet-name>
        <servlet-class>Servlets.Order.AddInPersonItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInpersonItem</servlet-name>
        <servlet-class>Servlets.Order.DeleteInpersonItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteComment</servlet-name>
        <servlet-class>Servlets.Communications.DeleteComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptComment</servlet-name>
        <servlet-class>Servlets.Communications.AcceptComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetConactUs</servlet-name>
        <servlet-class>Servlets.Communications.SetConactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVideos</servlet-name>
        <servlet-class>Servlets.API.Videos.GetVideos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVideoSections</servlet-name>
        <servlet-class>Servlets.API.Videos.GetVideoSections</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Servlets.API.Authenticators.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthenticateAPI</servlet-name>
        <servlet-class>Servlets.API.Authenticators.Authenticate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSiteData</servlet-name>
        <servlet-class>Servlets.API.SiteSettings.GetSiteData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Servlets.User.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetDiscountConfig</servlet-name>
        <servlet-class>Servlets.User.SetDiscountConfig</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendSms</servlet-name>
        <jsp-file>/AdminPanel/Sms/SendSms.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditAdmin</servlet-name>
        <servlet-class>Servlets.Admins.EditAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdmin</servlet-name>
        <servlet-class>Servlets.Admins.DeleteAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendSmsMessage</servlet-name>
        <servlet-class>Servlets.Sms.SendSms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAdminPassword</servlet-name>
        <servlet-class>Servlets.Admins.EditAdminPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInpersons</servlet-name>
        <servlet-class>Servlets.API.Orders.GetInpersons</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiscount</servlet-name>
        <servlet-class>Servlets.User.AddDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDiscount</servlet-name>
        <servlet-class>Servlets.User.DeleteDiscount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiscountTicket</servlet-name>
        <servlet-class>Servlets.User.AddDiscountTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteInperson</servlet-name>
        <servlet-class>Servlets.Order.DeleteInperson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>Servlets.API.Users.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrderOptions</servlet-name>
        <servlet-class>Servlets.API.Orders.GetOrderOptions</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPart</servlet-name>
        <servlet-class>Servlets.API.Orders.AddPart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAddress</servlet-name>
        <servlet-class>Servlets.API.Users.AddAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAddress</servlet-name>
        <servlet-class>Servlets.API.Users.EditAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAddress</servlet-name>
        <servlet-class>Servlets.API.Users.DeleteAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendAuthSms</servlet-name>
        <servlet-class>Servlets.API.Authenticators.SendAuthSms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePart</servlet-name>
        <servlet-class>Servlets.API.Orders.DeletePart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSpecifications</servlet-name>
        <servlet-class>Servlets.API.Users.SetSpecifications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSpecifications</servlet-name>
        <servlet-class>Servlets.API.Users.EditSpecifications</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitOrder</servlet-name>
        <servlet-class>Servlets.API.Orders.SubmitOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOrders</servlet-name>
        <servlet-class>Servlets.API.Orders.GetOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetAdminPhoneNumber</servlet-name>
        <servlet-class>Servlets.Sms.SetAdminPhoneNumber</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCart</servlet-name>
        <servlet-class>Servlets.API.Orders.GetCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDiscounts</servlet-name>
        <servlet-class>Servlets.API.Users.GetDiscounts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetSiteInfo</servlet-name>
        <servlet-class>Servlets.SiteSetting.SetSiteInfo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendComment</servlet-name>
        <servlet-class>Servlets.API.Communications.SendComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendContactUs</servlet-name>
        <servlet-class>Servlets.API.Communications.SendContactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPartner</servlet-name>
        <jsp-file>/AdminPanel/Partners/ShowPartner.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddPartner</servlet-name>
        <servlet-class>Servlets.Partners.AddPartner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPartnerProduct</servlet-name>
        <servlet-class>Servlets.Partners.AddPartnerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProduct</servlet-name>
        <jsp-file>/AdminPanel/Partners/ShowProduct.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>AddPartnerCategory</servlet-name>
        <servlet-class>Servlets.Partners.AddPartnerCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePartnerCategory</servlet-name>
        <servlet-class>Servlets.Partners.DeletePartnerCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddText</servlet-name>
        <servlet-class>Servlets.Text.AddText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowText</servlet-name>
        <jsp-file>/AdminPanel/Texts/ShowText.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditText</servlet-name>
        <servlet-class>Servlets.Text.EditText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteText</servlet-name>
        <servlet-class>Servlets.Text.DeleteText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetText</servlet-name>
        <servlet-class>Servlets.API.SiteSettings.GetText</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePartnerProduct</servlet-name>
        <servlet-class>Servlets.Partners.DeletePartnerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPartnerProduct</servlet-name>
        <servlet-class>Servlets.Partners.EditPartnerProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPartnerPicture</servlet-name>
        <servlet-class>Servlets.Partners.AddPartnerPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSlideShow</servlet-name>
        <servlet-class>Servlets.SiteSetting.AddSlideShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSlideShow</servlet-name>
        <servlet-class>Servlets.SiteSetting.DeleteSlideShow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAdvertisment</servlet-name>
        <servlet-class>Servlets.SiteSetting.AddAdvertisment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdvertisment</servlet-name>
        <servlet-class>Servlets.SiteSetting.DeleteAdvertisment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadVideo</servlet-name>
        <servlet-class>Servlets.SiteSetting.Video.UploadVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetLinksStatus</servlet-name>
        <servlet-class>Servlets.SiteSetting.SetLinksStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPartner</servlet-name>
        <servlet-class>Servlets.API.Partners.LoginPartner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPartner</servlet-name>
        <servlet-class>Servlets.API.Partners.GetPartner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPartnerAddress</servlet-name>
        <servlet-class>Servlets.API.Partners.AddPartnerAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPartnerAddress</servlet-name>
        <servlet-class>Servlets.API.Partners.EditPartnerAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePartnerAddress</servlet-name>
        <servlet-class>Servlets.API.Partners.DeletePartnerAddress</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPartnerProducts</servlet-name>
        <servlet-class>Servlets.API.Partners.GetPartnerProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPartnerCategories</servlet-name>
        <servlet-class>Servlets.API.Partners.GetPartnerCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddColorMap</servlet-name>
        <servlet-class>Servlets.Products.AddColorMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteColorMap</servlet-name>
        <servlet-class>Servlets.Products.DeleteColorMap</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPartnerReceipts</servlet-name>
        <servlet-class>Servlets.API.Partners.GetPartnerReceipts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPartnerReceipt</servlet-name>
        <servlet-class>Servlets.API.Partners.GetPartnerReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetPartnerCart</servlet-name>
        <servlet-class>Servlets.API.Partners.GetPartnerCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPartnerPart</servlet-name>
        <servlet-class>Servlets.API.Partners.AddPartnerPart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePartnerPart</servlet-name>
        <servlet-class>Servlets.API.Partners.DeletePartnerPart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitPartnerOrder</servlet-name>
        <servlet-class>Servlets.API.Partners.SubmitPartnerOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPartnerOrder</servlet-name>
        <jsp-file>/AdminPanel/Partners/ShowOrder.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditPartnerPayment</servlet-name>
        <servlet-class>Servlets.Partners.EditPartnerPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPartnerShip</servlet-name>
        <servlet-class>Servlets.Partners.EditPartnerShip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPartnerOrder</servlet-name>
        <servlet-class>Servlets.Partners.EditPartnerOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendChat</servlet-name>
        <servlet-class>Servlets.API.Communications.SendChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChats</servlet-name>
        <servlet-class>Servlets.API.Communications.GetChats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetChat</servlet-name>
        <servlet-class>Servlets.API.Communications.GetChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdminChat</servlet-name>
        <servlet-class>Servlets.API.Communications.GetAdminChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendAdminChat</servlet-name>
        <servlet-class>Servlets.API.Communications.SendAdminChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAdminChats</servlet-name>
        <servlet-class>Servlets.API.Communications.GetAdminChats</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPartnerSeries</servlet-name>
        <servlet-class>Servlets.Partners.AddPartnerSeries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePartnerSeries</servlet-name>
        <servlet-class>Servlets.Partners.DeletePartnerSeries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPartnerSeries</servlet-name>
        <jsp-file>/AdminPanel/Partners/ShowPartnerSeries.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>EditPartnerSeries</servlet-name>
        <servlet-class>Servlets.Partners.EditPartnerSeries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPartner</servlet-name>
        <servlet-class>Servlets.Partners.EditPartner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePartner</servlet-name>
        <servlet-class>Servlets.Partners.DeletePartner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePartnerPassword</servlet-name>
        <servlet-class>Servlets.Partners.changePartnerPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>Servlets.User.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeUserPassword</servlet-name>
        <servlet-class>Servlets.User.changeUserPassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowProduct</servlet-name>
        <url-pattern>/AdminPanel/Partners/Products/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPartner</servlet-name>
        <url-pattern>/AdminPanel/Partners/List/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSms</servlet-name>
        <url-pattern>/AdminPanel/Sms/SendSms/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowVideo</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/Videos/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSection</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/Sections/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAdmin</servlet-name>
        <url-pattern>/AdminPanel/Admins/List/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowWindow</servlet-name>
        <url-pattern>/AdminPanel/Products/Windows/List/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowShip</servlet-name>
        <url-pattern>/AdminPanel/Ship/List/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterCheck</servlet-name>
        <url-pattern>/RegisterCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendAuthCode</servlet-name>
        <url-pattern>/SendAuthCode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginCheck</servlet-name>
        <url-pattern>/AdminLoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminPanel/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AdminPanel/Products/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Products</servlet-name>
        <url-pattern>/AdminPanel/Products/List/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowOrder</servlet-name>
        <url-pattern>/AdminPanel/Orders/List/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/AdminPanel/Products/EditProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPicture</servlet-name>
        <url-pattern>/AdminPanel/Products/AddPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePicture</servlet-name>
        <url-pattern>/AdminPanel/Products/DeletePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditScale</servlet-name>
        <url-pattern>/AdminPanel/Products/EditScale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddScale</servlet-name>
        <url-pattern>/AdminPanel/Products/AddScale</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveScaleValue</servlet-name>
        <url-pattern>/AdminPanel/Products/RemoveScaleValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProperty</servlet-name>
        <url-pattern>/AdminPanel/Products/AddProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/AdminPanel/Products/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProperty</servlet-name>
        <url-pattern>/AdminPanel/Products/DeleteProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProperty</servlet-name>
        <url-pattern>/AdminPanel/Products/EditProperty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPropertyValue</servlet-name>
        <url-pattern>/AdminPanel/Products/AddPropertyValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePropertyValue</servlet-name>
        <url-pattern>/AdminPanel/Products/DeletePropertyValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPackage</servlet-name>
        <url-pattern>/AdminPanel/Products/AddPackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteScalePackage</servlet-name>
        <url-pattern>/AdminPanel/Products/DeleteScalePackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditScaleValue</servlet-name>
        <url-pattern>/AdminPanel/Products/EditScaleValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUser</servlet-name>
        <url-pattern>/AdminPanel/Users/List/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditShip</servlet-name>
        <url-pattern>/AdminPanel/Orders/EditShip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPayment</servlet-name>
        <url-pattern>/AdminPanel/Orders/EditPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrder</servlet-name>
        <url-pattern>/AdminPanel/Orders/EditOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShipType</servlet-name>
        <url-pattern>/AdminPanel/Ship/DeleteShipType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShipType</servlet-name>
        <url-pattern>/AdminPanel/Ship/AddShipType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentType</servlet-name>
        <url-pattern>/AdminPanel/Invoice/UpdatePaymentType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWindow</servlet-name>
        <url-pattern>/AdminPanel/Products/AddWindow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteWindow</servlet-name>
        <url-pattern>/AdminPanel/Products/Windows/DeleteWindow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditWindow</servlet-name>
        <url-pattern>/AdminPanel/Products/Windows/EditWindow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProduct</servlet-name>
        <url-pattern>/API/GetProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReceipt</servlet-name>
        <url-pattern>/API/GetReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/API/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdmin</servlet-name>
        <url-pattern>/AdminPanel/Admins/AddAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWindows</servlet-name>
        <url-pattern>/API/GetWindows</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProducts</servlet-name>
        <url-pattern>/API/GetProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCategories</servlet-name>
        <url-pattern>/API/GetCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategory</servlet-name>
        <url-pattern>/AdminPanel/Products/AddCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/AdminPanel/Products/DeleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMacaron</servlet-name>
        <url-pattern>/API/GetMacaron</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVideo</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/AddVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSmsConfig</servlet-name>
        <url-pattern>/AdminPanel/Sms/SetSmsConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMainVideo</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/SetMainVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditVideo</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/EditVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSection</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/AddSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSeciton</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/EditSection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVideo</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/DeleteVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInPerson</servlet-name>
        <url-pattern>/AdminPanel/Users/AddInPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddInPersonItem</servlet-name>
        <url-pattern>/AdminPanel/Users/AddInPersonItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInpersonItem</servlet-name>
        <url-pattern>/AdminPanel/Users/DeleteInpersonItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteComment</servlet-name>
        <url-pattern>/AdminPanel/Communications/DeleteComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptComment</servlet-name>
        <url-pattern>/AdminPanel/Communications/AcceptComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetConactUs</servlet-name>
        <url-pattern>/AdminPanel/Communications/SetConactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVideos</servlet-name>
        <url-pattern>/API/GetVideos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVideoSections</servlet-name>
        <url-pattern>/API/GetVideoSections</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/API/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthenticateAPI</servlet-name>
        <url-pattern>/API/Authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSiteData</servlet-name>
        <url-pattern>/API/GetSiteData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AdminPanel/Users/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetDiscountConfig</servlet-name>
        <url-pattern>/AdminPanel/Users/SetDiscountConfig</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAdmin</servlet-name>
        <url-pattern>/AdminPanel/Admins/EditAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdmin</servlet-name>
        <url-pattern>/AdminPanel/Admins/DeleteAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendSmsMessage</servlet-name>
        <url-pattern>/AdminPanel/Sms/SendSmsMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAdminPassword</servlet-name>
        <url-pattern>/AdminPanel/Admins/EditAdminPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInpersons</servlet-name>
        <url-pattern>/API/GetInpersons</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiscount</servlet-name>
        <url-pattern>/AddDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDiscount</servlet-name>
        <url-pattern>/AdminPanel/Users/DeleteDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiscountTicket</servlet-name>
        <url-pattern>/AdminPanel/Users/AddDiscountTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteInperson</servlet-name>
        <url-pattern>/AdminPanel/Users/DeleteInperson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/API/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrderOptions</servlet-name>
        <url-pattern>/API/GetOrderOptions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPart</servlet-name>
        <url-pattern>/API/AddPart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAddress</servlet-name>
        <url-pattern>/API/AddAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAddress</servlet-name>
        <url-pattern>/API/EditAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAddress</servlet-name>
        <url-pattern>/API/DeleteAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendAuthSms</servlet-name>
        <url-pattern>/API/SendAuthSms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePart</servlet-name>
        <url-pattern>/API/DeletePart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSpecifications</servlet-name>
        <url-pattern>/API/SetSpecifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSpecifications</servlet-name>
        <url-pattern>/API/EditSpecifications</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitOrder</servlet-name>
        <url-pattern>/API/SubmitOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOrders</servlet-name>
        <url-pattern>/API/GetOrders</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetAdminPhoneNumber</servlet-name>
        <url-pattern>/AdminPanel/Sms/SetAdminPhoneNumber</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCart</servlet-name>
        <url-pattern>/API/GetCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDiscounts</servlet-name>
        <url-pattern>/API/GetDiscounts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetSiteInfo</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/SetSiteInfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendComment</servlet-name>
        <url-pattern>/API/SendComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendContactUs</servlet-name>
        <url-pattern>/API/SendContactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPartner</servlet-name>
        <url-pattern>/AdminPanel/Partners/AddPartner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPartnerProduct</servlet-name>
        <url-pattern>/AdminPanel/Partners/AddPartnerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPartnerCategory</servlet-name>
        <url-pattern>/AdminPanel/Partners/AddPartnerCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePartnerCategory</servlet-name>
        <url-pattern>/AdminPanel/Partners/DeletePartnerCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddText</servlet-name>
        <url-pattern>/AdminPanel/Texts/AddText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowText</servlet-name>
        <url-pattern>/AdminPanel/Texts/List/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditText</servlet-name>
        <url-pattern>/AdminPanel/Texts/EditText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteText</servlet-name>
        <url-pattern>/AdminPanel/Texts/DeleteText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetText</servlet-name>
        <url-pattern>/API/GetText</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePartnerProduct</servlet-name>
        <url-pattern>/AdminPanel/Partners/DeletePartnerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPartnerProduct</servlet-name>
        <url-pattern>/AdminPanel/Partners/EditPartnerProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPartnerPicture</servlet-name>
        <url-pattern>/AdminPanel/Partners/AddPartnerPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSlideShow</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/AddSlideShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSlideShow</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/DeleteSlideShow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAdvertisment</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/AddAdvertisment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdvertisment</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/DeleteAdvertisment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetLinksStatus</servlet-name>
        <url-pattern>/AdminPanel/SiteSetting/SetLinksStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPartner</servlet-name>
        <url-pattern>/API/LoginPartner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPartner</servlet-name>
        <url-pattern>/API/GetPartner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPartnerAddress</servlet-name>
        <url-pattern>/API/AddPartnerAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPartnerAddress</servlet-name>
        <url-pattern>/API/EditPartnerAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePartnerAddress</servlet-name>
        <url-pattern>/API/DeletePartnerAddress</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPartnerProducts</servlet-name>
        <url-pattern>/API/GetPartnerProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPartnerCategories</servlet-name>
        <url-pattern>/API/GetPartnerCategories</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteColorMap</servlet-name>
        <url-pattern>/AdminPanel/Products/DeleteColorMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddColorMap</servlet-name>
        <url-pattern>/AdminPanel/Products/AddColorMap</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPartnerReceipts</servlet-name>
        <url-pattern>/API/GetPartnerReceipts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPartnerReceipt</servlet-name>
        <url-pattern>/API/GetPartnerReceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetPartnerCart</servlet-name>
        <url-pattern>/API/GetPartnerCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPartnerPart</servlet-name>
        <url-pattern>/API/AddPartnerPart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePartnerPart</servlet-name>
        <url-pattern>/API/DeletePartnerPart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitPartnerOrder</servlet-name>
        <url-pattern>/API/SubmitPartnerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPartnerOrder</servlet-name>
        <url-pattern>/AdminPanel/Partners/Orders/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPartnerPayment</servlet-name>
        <url-pattern>/AdminPanel/Partners/EditPartnerPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPartnerShip</servlet-name>
        <url-pattern>/AdminPanel/Partners/EditPartnerShip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPartnerOrder</servlet-name>
        <url-pattern>/AdminPanel/Partners/EditPartnerOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendChat</servlet-name>
        <url-pattern>/API/SendChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChats</servlet-name>
        <url-pattern>/API/GetChats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetChat</servlet-name>
        <url-pattern>/API/GetChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdminChat</servlet-name>
        <url-pattern>/API/GetAdminChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendAdminChat</servlet-name>
        <url-pattern>/API/SendAdminChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAdminChats</servlet-name>
        <url-pattern>/API/GetAdminChats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPartnerSeries</servlet-name>
        <url-pattern>/AdminPanel/Partners/AddPartnerSeries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePartnerSeries</servlet-name>
        <url-pattern>/AdminPanel/Partners/DeletePartnerSeries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPartnerSeries</servlet-name>
        <url-pattern>/AdminPanel/Partners/SeriesList/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPartnerSeries</servlet-name>
        <url-pattern>/AdminPanel/Partners/EditPartnerSeries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPartner</servlet-name>
        <url-pattern>/AdminPanel/Partners/EditPartner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePartner</servlet-name>
        <url-pattern>/AdminPanel/Partners/DeletePartner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePartnerPassword</servlet-name>
        <url-pattern>/AdminPanel/Partners/changePartnerPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/AdminPanel/Users/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeUserPassword</servlet-name>
        <url-pattern>/AdminPanel/Users/changeUserPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadVideo</servlet-name>
        <url-pattern>/API/UploadVideo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>CheckBan</filter-name>
        <filter-class>Filters.Authenticator.CheckBan</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckBan</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AllowAccess</filter-name>
        <filter-class>Filters.Authenticator.AllowAccess</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AllowAccess</filter-name>
        <url-pattern>/API/*</url-pattern>
    </filter-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/index.html</location>
    </error-page>
</web-app>
